

@import "compass/reset"
@import "compass"


// **************************************************************************************** VARIABLES
$text: #6d6e71
$background-color: #EEEAEB


// **************************************************************************************** SPRITES
$sprites-sprite-dimensions: true
$sprites-spacing: 3px
$sprites-layout: smart
@import "sprites/sprites/*.png"
@include all-sprites-sprites

[class^="sprites-"],[class*=" sprites-"]
  display: inline-block
  vertical-align: text-top


// **************************************************************************************** GENERAL
html, body
  font-family: "Open Sans", Helvetica, sans-serif
  color: $text
  width: 100%
  height: 100%
  overflow: hidden

html
  background: $background-color

body
  background: url(../images/celia-logo-color-big.png) no-repeat fixed 
  background-position: 50% 30%

.noHeight
  height: 0
  overflow: hidden

.hidden
  visibility: hidden


// **************************************************************************************** NAVIGATION
nav
  position: fixed
  bottom: 4%
  width: 100%
  z-index: 2000
  text-align: center
  text-transform: uppercase
  .stockists, .info
    display: inline-block
    position: relative
    top: 17px
    margin: 0 1.5em
    width: 85px
  .stockists
    text-align: right
  .info
    text-align: left
  a
    text-decoration: none
    color: inherit
    margin-top: 23px
    &:hover
      color: Black

a.social
  height: 0
  padding-top: 57px
  overflow: hidden
  margin: 0 0.6em


// **************************************************************************************** SECTIONS
section
  width: 100%
  height: 100%
  background: #acafb0
  position: relative
  top: 0
  +transition( top 1s )
  h1
    text-align: center
    font-size: 4em

#home
  background: transparent

#stockists
  &.extend
    top: -100%

  .map
    margin: 0 auto
    width: 100%
    height: 100%
    background: url(../images/map.jpg) no-repeat center top

#info
  background: url(../images/celia-logo-bw-big.png) no-repeat fixed 
  background-position: 50% 30%
  &.extend
    top: -200%




