

@import "compass/reset"
@import "compass"


// **************************************************************************************** VARIABLES
$text: #6d6e71
$background-color: #EEEAEB


// **************************************************************************************** GENERAL
html, body
  font-family: "Open Sans", Helvetica, sans-serif
  color: $text
  width: 100%
  height: 100%
  overflow: hidden

html
  background: $background-color

body
  background: url(../images/celia-logo-color-big.png) no-repeat fixed 
  background-position: 50% 30%

  @media (max-width: 490px)
    +background-size( 390px auto)
  @media (max-width: 400px)
    +background-size( 310px auto)

.noHeight
  height: 0
  overflow: hidden

.hidden
  visibility: hidden


// **************************************************************************************** NAVIGATION
nav
  position: fixed
  bottom: 4%
  width: 100%
  z-index: 2000
  text-align: center
  text-transform: uppercase
  .stockists, .info
    display: inline-block
    margin: 0 1.5em
    width: 85px
    &.desktopNav
      @media (max-width: 600px)
        display: none
  .stockists
    text-align: right
  .info
    text-align: left
  a
    text-decoration: none
    color: inherit
    margin-top: 23px
    &:hover
      color: Black

  .phoneNav
    display: none
    @media (max-width: 600px)
      display: block

  .social
    display: inline-block
    position: relative
    top: 19px
    @media (max-width: 600px)
      margin: 4px 0
    a
      line-height: 0
      font-size: 0
      color: transparent
      margin: 0 4px
      @media (max-width: 600px)
        margin: 0 10px
      img
        @media (max-width: 600px)
          width: 40px


// **************************************************************************************** SECTIONS
section
  width: 100%
  height: 100%
  background: #acafb0
  position: relative
  top: 0
  +transition( top 1s )
  h1
    text-align: center
    font-size: 4em

#home
  background: transparent

#stockists
  &.extend
    top: -100%

  .map
    margin: 0 auto
    width: 100%
    height: 100%
    background: url(../images/map.jpg) no-repeat center top

#info
  background: url(../images/celia-logo-bw-big.png) no-repeat fixed 
  background-position: 50% 30%
  &.extend
    top: -200%




