/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/celiastyle.sass */
html, body {
  font-family: Raleway, Helvetica, sans-serif;
  color: #6d6e71;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 21, ../sass/celiastyle.sass */
html {
  background: #eeeaeb;
}

/* line 24, ../sass/celiastyle.sass */
.noHeight {
  height: 0;
  overflow: hidden;
}

/* line 28, ../sass/celiastyle.sass */
strong {
  font-weight: bold;
}

/* line 31, ../sass/celiastyle.sass */
a {
  color: #71950a;
}

/* line 34, ../sass/celiastyle.sass */
.specialOffer {
  position: fixed;
  position: fixed;
  top: 60%;
  right: 10%;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
/* line 39, ../sass/celiastyle.sass */
.specialOffer img {
  width: 100%;
}
/* line 43, ../sass/celiastyle.sass */
.specialOffer:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
@media (max-width: 1048px) {
  /* line 34, ../sass/celiastyle.sass */
  .specialOffer {
    right: 5px;
  }
}
@media (max-width: 843px) {
  /* line 34, ../sass/celiastyle.sass */
  .specialOffer {
    right: 2px;
  }
  /* line 49, ../sass/celiastyle.sass */
  .specialOffer img {
    width: 80%;
    float: right;
  }
}
@media (max-width: 520px) {
  /* line 34, ../sass/celiastyle.sass */
  .specialOffer {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  /* line 54, ../sass/celiastyle.sass */
  .specialOffer img {
    width: 50%;
  }
}

/* line 57, ../sass/celiastyle.sass */
.leftHandButton {
  position: fixed;
  position: fixed;
  top: 60%;
  left: 10%;
}
/* line 62, ../sass/celiastyle.sass */
.leftHandButton img {
  width: 100%;
}
@media (max-width: 1048px) {
  /* line 57, ../sass/celiastyle.sass */
  .leftHandButton {
    left: 5px;
  }
}
@media (max-width: 843px) {
  /* line 57, ../sass/celiastyle.sass */
  .leftHandButton {
    left: 2px;
  }
  /* line 68, ../sass/celiastyle.sass */
  .leftHandButton img {
    width: 80%;
    float: left;
  }
}
@media (max-width: 520px) {
  /* line 72, ../sass/celiastyle.sass */
  .leftHandButton img {
    width: 50%;
  }
}

/* line 75, ../sass/celiastyle.sass */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #71950a;
  display: inline-block;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* line 87, ../sass/celiastyle.sass */
.arrow-down.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 92, ../sass/celiastyle.sass */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(0, 130px);
  -moz-transform: translate(0, 130px);
  -ms-transform: translate(0, 130px);
  -o-transform: translate(0, 130px);
  transform: translate(0, 130px);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
/* line 101, ../sass/celiastyle.sass */
nav.moveUp {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 103, ../sass/celiastyle.sass */
nav .stockists, nav .info {
  display: inline-block;
  margin: 0 1.5em;
  width: 88px;
  padding: 3px 0;
  text-align: center;
  background-color: #eeeaeb;
}
@media (max-width: 600px) {
  /* line 103, ../sass/celiastyle.sass */
  nav .stockists, nav .info {
    position: relative;
    top: 10px;
  }
}
/* line 113, ../sass/celiastyle.sass */
nav .stockists.desktopNav, nav .info.desktopNav {
  position: relative;
  top: -23px;
}
@media (max-width: 600px) {
  /* line 113, ../sass/celiastyle.sass */
  nav .stockists.desktopNav, nav .info.desktopNav {
    display: none;
  }
}
/* line 118, ../sass/celiastyle.sass */
nav a {
  text-decoration: none;
  color: inherit;
}
/* line 121, ../sass/celiastyle.sass */
nav a:hover {
  color: black;
}
/* line 124, ../sass/celiastyle.sass */
nav .phoneNav {
  display: none;
}
@media (max-width: 600px) {
  /* line 124, ../sass/celiastyle.sass */
  nav .phoneNav {
    display: block;
  }
}
/* line 128, ../sass/celiastyle.sass */
nav .phoneNav .stockists, nav .phoneNav .info {
  width: auto;
  text-align: center;
}
/* line 132, ../sass/celiastyle.sass */
nav .social {
  display: inline-block;
}
@media (max-width: 600px) {
  /* line 132, ../sass/celiastyle.sass */
  nav .social {
    margin-top: 15px;
  }
}
/* line 136, ../sass/celiastyle.sass */
nav .social a {
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin: 0 4px;
}
@media (max-width: 600px) {
  /* line 136, ../sass/celiastyle.sass */
  nav .social a {
    margin: 10px;
  }
}
/* line 143, ../sass/celiastyle.sass */
nav .social a img {
  width: 50px;
}
@media (max-width: 600px) {
  /* line 143, ../sass/celiastyle.sass */
  nav .social a img {
    width: 40px;
  }
}

/* line 150, ../sass/celiastyle.sass */
section {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 161, ../sass/celiastyle.sass */
section.extend {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 163, ../sass/celiastyle.sass */
section h1 {
  text-align: center;
  font-size: 4em;
}
/* line 166, ../sass/celiastyle.sass */
section .container {
  margin: 0 auto;
  max-width: 600px;
}
/* line 169, ../sass/celiastyle.sass */
section .navSpacer {
  clear: both;
  height: 140px;
  width: 100%;
}

/* line 175, ../sass/celiastyle.sass */
#home {
  z-index: 10;
  background: transparent;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  text-align: center;
  position: relative;
}
/* line 182, ../sass/celiastyle.sass */
#home .mainLogo {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -225px;
  margin-top: -225px;
}
@media (max-width: 520px), (max-height: 600px) {
  /* line 182, ../sass/celiastyle.sass */
  #home .mainLogo {
    width: 350px;
    margin-left: -175px;
    margin-top: -175px;
  }
}
@media (max-width: 400px), (max-height: 440px) {
  /* line 182, ../sass/celiastyle.sass */
  #home .mainLogo {
    width: 250px;
    margin-left: -125px;
    margin-top: -125px;
  }
}

/* line 199, ../sass/celiastyle.sass */
#stockists {
  z-index: 20;
  background: #eeeaeb;
}
/* line 202, ../sass/celiastyle.sass */
#stockists .map {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 10px;
  z-index: 21;
}
/* line 209, ../sass/celiastyle.sass */
#stockists .menuBackground {
  position: absolute;
  z-index: 22;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  background: #eeeaeb;
}

/* line 219, ../sass/celiastyle.sass */
#info, #buyOnline {
  z-index: 30;
  overflow-y: scroll;
  background: #eeeaeb;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
}
/* line 225, ../sass/celiastyle.sass */
#info .simpleLogo, #buyOnline .simpleLogo {
  width: 160px;
  margin: 20px 0 10px 0;
}
@media (max-width: 600px) {
  /* line 225, ../sass/celiastyle.sass */
  #info .simpleLogo, #buyOnline .simpleLogo {
    width: 100px;
  }
}
/* line 230, ../sass/celiastyle.sass */
#info p, #buyOnline p {
  line-height: 1.5em;
  margin: 10px 10px 1.5em 10px;
}
/* line 233, ../sass/celiastyle.sass */
#info h2, #buyOnline h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 1em 0 -1em 0;
  clear: both;
}
/* line 239, ../sass/celiastyle.sass */
#info ul li, #buyOnline ul li {
  margin-bottom: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 243, ../sass/celiastyle.sass */
#info ul li.active, #buyOnline ul li.active {
  font-weight: bold;
  font-style: italic;
  color: black;
}
/* line 247, ../sass/celiastyle.sass */
#info .about, #info .contact, #info .pressPr, #info .ingredients, #info .contact, #buyOnline .about, #buyOnline .contact, #buyOnline .pressPr, #buyOnline .ingredients, #buyOnline .contact {
  clear: both;
}
/* line 249, ../sass/celiastyle.sass */
#info .subNav, #buyOnline .subNav {
  clear: both;
  padding-top: 2em;
}
/* line 252, ../sass/celiastyle.sass */
#info .topNav, #buyOnline .topNav {
  margin-top: 1em;
}
/* line 254, ../sass/celiastyle.sass */
#info .object, #buyOnline .object {
  clear: both;
  padding-top: 4em;
}
/* line 257, ../sass/celiastyle.sass */
#info .object h3, #buyOnline .object h3 {
  clear: both;
  font-size: 1.5em;
  padding-bottom: 20px;
  color: #71950a;
}
/* line 262, ../sass/celiastyle.sass */
#info .object img, #buyOnline .object img {
  float: left;
  width: 20%;
}
@media (max-width: 340px) {
  /* line 262, ../sass/celiastyle.sass */
  #info .object img, #buyOnline .object img {
    position: relative;
    top: 1em;
  }
}
/* line 269, ../sass/celiastyle.sass */
#info .object p, #buyOnline .object p {
  float: right;
  text-align: left;
  width: 70%;
}
/* line 275, ../sass/celiastyle.sass */
#info #aboutContainer .object, #buyOnline #aboutContainer .object {
  padding-top: 1em;
}
/* line 277, ../sass/celiastyle.sass */
#info #aboutContainer .object h3, #buyOnline #aboutContainer .object h3 {
  padding: 4px;
  background-color: #eeeaeb;
  cursor: pointer;
}
/* line 281, ../sass/celiastyle.sass */
#info #aboutContainer .object p, #buyOnline #aboutContainer .object p {
  padding-top: 10px;
  display: none;
}
/* line 284, ../sass/celiastyle.sass */
#info #aboutContainer .object img, #buyOnline #aboutContainer .object img {
  padding-top: 10px;
  display: none;
}
/* line 288, ../sass/celiastyle.sass */
#info .object.ingredient .left, #buyOnline .object.ingredient .left {
  float: left;
  font-weight: bold;
  width: 25%;
  text-align: right;
}
/* line 293, ../sass/celiastyle.sass */
#info .object.ingredient .right, #buyOnline .object.ingredient .right {
  text-align: left;
  float: right;
  width: 62%;
}
/* line 297, ../sass/celiastyle.sass */
#info .object.ingredient .clear, #buyOnline .object.ingredient .clear {
  clear: both;
}
/* line 301, ../sass/celiastyle.sass */
#info .pressPr .object img, #buyOnline .pressPr .object img {
  width: 50%;
  float: none;
  margin: 2em 0;
}
/* line 307, ../sass/celiastyle.sass */
#info .contact .object img, #info .onlineStockists .object img, #buyOnline .contact .object img, #buyOnline .onlineStockists .object img {
  float: left;
}
/* line 309, ../sass/celiastyle.sass */
#info .contact .object p, #info .onlineStockists .object p, #buyOnline .contact .object p, #buyOnline .onlineStockists .object p {
  float: right;
}
/* line 311, ../sass/celiastyle.sass */
#info .triggerNewsletter, #buyOnline .triggerNewsletter {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* line 317, ../sass/celiastyle.sass */
#buyOnline h1 {
  font-size: 3em;
  padding-top: 1em;
  color: black;
  text-transform: uppercase;
}
/* line 322, ../sass/celiastyle.sass */
#buyOnline h2 {
  font-size: 1em;
  display: inline-block;
  width: 80%;
  line-height: 1.5em;
  text-transform: none;
}

/* line 331, ../sass/celiastyle.sass */
#newsletter, #specialOfferPopup {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 334, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup, #specialOfferPopup #mc_embed_signup {
  text-align: center;
  background-color: black;
  font-family: Raleway, Helvetica, sans-serif;
  color: white;
  width: 300px;
  padding: 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -160px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 346, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup form, #specialOfferPopup #mc_embed_signup form {
  text-align: center;
}
/* line 348, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup img, #specialOfferPopup #mc_embed_signup img {
  display: inline-block;
  width: 30%;
}
/* line 351, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup h2, #specialOfferPopup #mc_embed_signup h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4em;
  margin: 1em 0;
}
/* line 356, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup .mc-field-group, #specialOfferPopup #mc_embed_signup .mc-field-group {
  padding-bottom: 0;
}
/* line 359, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup .button, #specialOfferPopup #mc_embed_signup .button {
  width: 210px;
}
/* line 362, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup #noThanks, #specialOfferPopup #mc_embed_signup #noThanks {
  position: relative;
  left: 2px;
}
