/* line 17, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, sprites/sprites/*.png */
.sprites-sprite, .sprites-email, .sprites-facebook, .sprites-linkedin, .sprites-twitter {
  background: url('../images/sprites/sprites-sce7488fd81.png') no-repeat;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-email {
  background-position: 0 0;
  height: 57px;
  width: 57px;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-facebook {
  background-position: 0 -57px;
  height: 57px;
  width: 57px;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-linkedin {
  background-position: 0 -114px;
  height: 57px;
  width: 57px;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-twitter {
  background-position: 0 -171px;
  height: 57px;
  width: 57px;
}

/* line 19, ../sass/celiastyle.sass */
[class^="sprites-"], [class*=" sprites-"] {
  display: inline-block;
  vertical-align: text-top;
}

/* line 25, ../sass/celiastyle.sass */
html, body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #6d6e71;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 32, ../sass/celiastyle.sass */
html {
  background: #eeeaeb;
}

/* line 35, ../sass/celiastyle.sass */
body {
  background: url(../images/celia-logo-color-big.png) no-repeat fixed;
  background-position: 50% 30%;
}

/* line 39, ../sass/celiastyle.sass */
.noHeight {
  height: 0;
  overflow: hidden;
}

/* line 43, ../sass/celiastyle.sass */
.hidden {
  visibility: hidden;
}

/* line 48, ../sass/celiastyle.sass */
nav {
  position: fixed;
  bottom: 4%;
  width: 100%;
  z-index: 2000;
  text-align: center;
  text-transform: uppercase;
}
/* line 55, ../sass/celiastyle.sass */
nav .stockists, nav .info {
  display: inline-block;
  position: relative;
  top: 17px;
  margin: 0 1.5em;
  width: 85px;
}
/* line 61, ../sass/celiastyle.sass */
nav .stockists {
  text-align: right;
}
/* line 63, ../sass/celiastyle.sass */
nav .info {
  text-align: left;
}
/* line 65, ../sass/celiastyle.sass */
nav a {
  text-decoration: none;
  color: inherit;
  margin-top: 23px;
}
/* line 69, ../sass/celiastyle.sass */
nav a:hover {
  color: black;
}

/* line 72, ../sass/celiastyle.sass */
a.social {
  height: 0;
  padding-top: 57px;
  overflow: hidden;
  margin: 0 0.6em;
}

/* line 80, ../sass/celiastyle.sass */
section {
  width: 100%;
  height: 100%;
  background: #acafb0;
  position: relative;
  top: 0;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
/* line 87, ../sass/celiastyle.sass */
section h1 {
  text-align: center;
  font-size: 4em;
}

/* line 91, ../sass/celiastyle.sass */
#home {
  background: transparent;
}

/* line 95, ../sass/celiastyle.sass */
#stockists.extend {
  top: -100%;
}
/* line 98, ../sass/celiastyle.sass */
#stockists .map {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: url(../images/map.jpg) no-repeat center top;
}

/* line 104, ../sass/celiastyle.sass */
#info {
  background: url(../images/celia-logo-bw-big.png) no-repeat fixed;
  background-position: 50% 30%;
}
/* line 107, ../sass/celiastyle.sass */
#info.extend {
  top: -200%;
}
