/* line 17, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.0-rc1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/celiastyle.sass */
html, body {
  font-family: Raleway, Helvetica, sans-serif;
  color: #6d6e71;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 21, ../sass/celiastyle.sass */
html {
  background: #eeeaeb;
}

/* line 24, ../sass/celiastyle.sass */
.noHeight {
  height: 0;
  overflow: hidden;
}

/* line 28, ../sass/celiastyle.sass */
strong {
  font-weight: bold;
}

/* line 31, ../sass/celiastyle.sass */
a {
  color: #71950a;
}

/* line 34, ../sass/celiastyle.sass */
.specialOffer {
  position: fixed;
  top: 58%;
  right: 10%;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
/* line 38, ../sass/celiastyle.sass */
.specialOffer img {
  width: 80%;
}
/* line 42, ../sass/celiastyle.sass */
.specialOffer:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
@media (max-width: 1048px) {
  /* line 34, ../sass/celiastyle.sass */
  .specialOffer {
    right: 5px;
  }
}
@media (max-width: 843px) {
  /* line 47, ../sass/celiastyle.sass */
  .specialOffer img {
    width: 60%;
    float: right;
  }
}
@media (max-width: 650px) {
  /* line 34, ../sass/celiastyle.sass */
  .specialOffer {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  /* line 52, ../sass/celiastyle.sass */
  .specialOffer img {
    width: 30%;
  }
}
@media (max-width: 500px) {
  /* line 34, ../sass/celiastyle.sass */
  .specialOffer {
    top: 10%;
  }
}

/* line 57, ../sass/celiastyle.sass */
.leftHandButton {
  position: fixed;
  top: 58%;
  left: 10%;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
/* line 61, ../sass/celiastyle.sass */
.leftHandButton img {
  width: 100%;
}
/* line 65, ../sass/celiastyle.sass */
.leftHandButton:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
@media (max-width: 1048px) {
  /* line 57, ../sass/celiastyle.sass */
  .leftHandButton {
    left: 5px;
  }
}
@media (max-width: 843px) {
  /* line 70, ../sass/celiastyle.sass */
  .leftHandButton img {
    width: 80%;
    float: left;
  }
}
@media (max-width: 650px) {
  /* line 57, ../sass/celiastyle.sass */
  .leftHandButton {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  /* line 75, ../sass/celiastyle.sass */
  .leftHandButton img {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 57, ../sass/celiastyle.sass */
  .leftHandButton {
    top: 10%;
  }
}

/* line 80, ../sass/celiastyle.sass */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #71950a;
  display: inline-block;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* line 92, ../sass/celiastyle.sass */
.arrow-down.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 97, ../sass/celiastyle.sass */
nav {
  position: fixed;
  bottom: 5px;
  width: 100%;
  z-index: 2000;
  text-align: center;
  text-transform: uppercase;
}
/* line 104, ../sass/celiastyle.sass */
nav.down {
  -webkit-transform: translate(0, 130px);
  -moz-transform: translate(0, 130px);
  -ms-transform: translate(0, 130px);
  -o-transform: translate(0, 130px);
  transform: translate(0, 130px);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
/* line 107, ../sass/celiastyle.sass */
nav.moveUp {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 109, ../sass/celiastyle.sass */
nav a {
  text-decoration: none;
  color: inherit;
}
/* line 112, ../sass/celiastyle.sass */
nav a:hover {
  color: black;
}
/* line 115, ../sass/celiastyle.sass */
nav .social {
  display: inline-block;
}
@media (max-width: 600px) {
  /* line 115, ../sass/celiastyle.sass */
  nav .social {
    margin-top: 15px;
  }
}
/* line 119, ../sass/celiastyle.sass */
nav .social a {
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin: 0 4px;
}
@media (max-width: 600px) {
  /* line 119, ../sass/celiastyle.sass */
  nav .social a {
    margin: 10px;
  }
}
/* line 126, ../sass/celiastyle.sass */
nav .social a img {
  width: 50px;
}
@media (max-width: 600px) {
  /* line 126, ../sass/celiastyle.sass */
  nav .social a img {
    width: 40px;
  }
}
/* line 131, ../sass/celiastyle.sass */
nav.topNav {
  top: 2px;
  bottom: auto;
}
/* line 134, ../sass/celiastyle.sass */
nav.topNav a {
  display: inline-block;
  width: 100px;
  padding: 3px;
  text-align: center;
  background-color: #eeeaeb;
  margin-top: 3px;
}
@media (max-width: 463px) {
  /* line 134, ../sass/celiastyle.sass */
  nav.topNav a {
    width: 79px;
    font-size: 12px;
  }
}
/* line 144, ../sass/celiastyle.sass */
nav.topNav a.comingSoon {
  width: 126px;
}
@media (max-width: 463px) {
  /* line 144, ../sass/celiastyle.sass */
  nav.topNav a.comingSoon {
    width: 94px;
  }
}

/* line 153, ../sass/celiastyle.sass */
section {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 164, ../sass/celiastyle.sass */
section.extend {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 166, ../sass/celiastyle.sass */
section h1 {
  text-align: center;
  font-size: 4em;
}
/* line 169, ../sass/celiastyle.sass */
section .container {
  margin: 0 auto;
  max-width: 600px;
}
/* line 172, ../sass/celiastyle.sass */
section .navSpacer {
  clear: both;
  height: 140px;
  width: 100%;
}

/* line 178, ../sass/celiastyle.sass */
#home {
  z-index: 10;
  background: transparent;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  text-align: center;
  position: relative;
  display: table;
}
/* line 186, ../sass/celiastyle.sass */
#home .verticalCenter {
  display: table-cell;
  vertical-align: middle;
}
/* line 190, ../sass/celiastyle.sass */
#home .mainLogo {
  cursor: pointer;
}
@media (max-width: 520px), (max-height: 650px) {
  /* line 190, ../sass/celiastyle.sass */
  #home .mainLogo {
    width: 350px;
  }
}
@media (max-width: 400px), (max-height: 530px) {
  /* line 190, ../sass/celiastyle.sass */
  #home .mainLogo {
    width: 250px;
  }
}
@media (max-height: 420px) {
  /* line 190, ../sass/celiastyle.sass */
  #home .mainLogo {
    width: 200px;
  }
}
@media (max-height: 360px) {
  /* line 190, ../sass/celiastyle.sass */
  #home .mainLogo {
    width: 150px;
  }
}
@media (max-height: 325px) {
  /* line 190, ../sass/celiastyle.sass */
  #home .mainLogo {
    width: 100px;
  }
}
/* line 204, ../sass/celiastyle.sass */
#home .homepageQuote {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-top: 1em;
  margin-bottom: 2em;
  line-height: 1.3em;
}
/* line 211, ../sass/celiastyle.sass */
#home .homepageQuote strong {
  text-decoration: underline;
}
@media (max-height: 325px) {
  /* line 204, ../sass/celiastyle.sass */
  #home .homepageQuote {
    font-size: 10px;
  }
}

/* line 216, ../sass/celiastyle.sass */
#stockists {
  z-index: 20;
  background: #eeeaeb;
}
/* line 219, ../sass/celiastyle.sass */
#stockists .map {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 10px;
  right: 10px;
  z-index: 21;
}
/* line 226, ../sass/celiastyle.sass */
#stockists #panel {
  position: absolute;
  top: 0;
  left: 50%;
  width: 280px;
  padding: 10px;
  margin-left: -150px;
  z-index: 5;
  background-color: #eeeaeb;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  vertical-align: bottom;
}
/* line 238, ../sass/celiastyle.sass */
#stockists #panel input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
}
/* line 241, ../sass/celiastyle.sass */
#stockists #panel input[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: #71950a;
  color: white;
  font-weight: bold;
  width: 70px;
  height: 34px;
  position: relative;
  top: -1px;
}
/* line 251, ../sass/celiastyle.sass */
#stockists #panel input[type='text'] {
  width: 200px;
}
/* line 253, ../sass/celiastyle.sass */
#stockists #map-canvas {
  width: 100%;
  height: 84%;
  z-index: 2;
}
/* line 258, ../sass/celiastyle.sass */
#stockists .menuBackground {
  position: absolute;
  z-index: 22;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  background: #eeeaeb;
}

/* line 268, ../sass/celiastyle.sass */
#info, #buyOnline, #trade {
  z-index: 30;
  overflow-y: scroll;
  background: #eeeaeb;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
}
/* line 274, ../sass/celiastyle.sass */
#info .simpleLogo, #buyOnline .simpleLogo, #trade .simpleLogo {
  width: 160px;
  margin: 20px 0 10px 0;
}
@media (max-width: 600px) {
  /* line 274, ../sass/celiastyle.sass */
  #info .simpleLogo, #buyOnline .simpleLogo, #trade .simpleLogo {
    width: 100px;
  }
}
/* line 279, ../sass/celiastyle.sass */
#info p, #buyOnline p, #trade p {
  line-height: 1.5em;
  margin: 10px 10px 1.5em 10px;
}
/* line 282, ../sass/celiastyle.sass */
#info h2, #buyOnline h2, #trade h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 1em 0 -1em 0;
  clear: both;
}
/* line 288, ../sass/celiastyle.sass */
#info ul li, #buyOnline ul li, #trade ul li {
  margin-bottom: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 292, ../sass/celiastyle.sass */
#info ul li.active, #buyOnline ul li.active, #trade ul li.active {
  font-weight: bold;
  font-style: italic;
  color: black;
}
/* line 296, ../sass/celiastyle.sass */
#info .about, #info .contact, #info .pressPr, #info .ingredients, #info .contact, #buyOnline .about, #buyOnline .contact, #buyOnline .pressPr, #buyOnline .ingredients, #buyOnline .contact, #trade .about, #trade .contact, #trade .pressPr, #trade .ingredients, #trade .contact {
  clear: both;
}
/* line 298, ../sass/celiastyle.sass */
#info .subNav, #buyOnline .subNav, #trade .subNav {
  clear: both;
  padding-top: 2em;
}
/* line 301, ../sass/celiastyle.sass */
#info .topNav, #buyOnline .topNav, #trade .topNav {
  margin-top: 65px;
}
/* line 303, ../sass/celiastyle.sass */
#info .object, #buyOnline .object, #trade .object {
  clear: both;
  padding-top: 4em;
}
/* line 306, ../sass/celiastyle.sass */
#info .object h3, #buyOnline .object h3, #trade .object h3 {
  clear: both;
  font-size: 1.5em;
  padding-bottom: 20px;
  color: #71950a;
}
/* line 311, ../sass/celiastyle.sass */
#info .object img, #buyOnline .object img, #trade .object img {
  float: left;
  width: 20%;
}
@media (max-width: 340px) {
  /* line 311, ../sass/celiastyle.sass */
  #info .object img, #buyOnline .object img, #trade .object img {
    position: relative;
    top: 1em;
  }
}
/* line 318, ../sass/celiastyle.sass */
#info .object p, #buyOnline .object p, #trade .object p {
  float: right;
  text-align: left;
  width: 70%;
}
/* line 324, ../sass/celiastyle.sass */
#info #aboutContainer .object, #buyOnline #aboutContainer .object, #trade #aboutContainer .object {
  padding-top: 1em;
}
/* line 326, ../sass/celiastyle.sass */
#info #aboutContainer .object h3, #buyOnline #aboutContainer .object h3, #trade #aboutContainer .object h3 {
  padding: 4px;
  background-color: #eeeaeb;
  cursor: pointer;
}
/* line 330, ../sass/celiastyle.sass */
#info #aboutContainer .object p, #buyOnline #aboutContainer .object p, #trade #aboutContainer .object p {
  padding-top: 10px;
  display: none;
}
/* line 333, ../sass/celiastyle.sass */
#info #aboutContainer .object img, #buyOnline #aboutContainer .object img, #trade #aboutContainer .object img {
  padding-top: 10px;
  display: none;
}
/* line 337, ../sass/celiastyle.sass */
#info .object.ingredient .left, #buyOnline .object.ingredient .left, #trade .object.ingredient .left {
  float: left;
  font-weight: bold;
  width: 25%;
  text-align: right;
}
/* line 342, ../sass/celiastyle.sass */
#info .object.ingredient .right, #buyOnline .object.ingredient .right, #trade .object.ingredient .right {
  text-align: left;
  float: right;
  width: 62%;
}
/* line 346, ../sass/celiastyle.sass */
#info .object.ingredient .clear, #buyOnline .object.ingredient .clear, #trade .object.ingredient .clear {
  clear: both;
}
/* line 350, ../sass/celiastyle.sass */
#info .pressPr .object img, #buyOnline .pressPr .object img, #trade .pressPr .object img {
  width: 50%;
  float: none;
  margin: 2em 0;
}
/* line 356, ../sass/celiastyle.sass */
#info .contact .object img, #info .onlineStockists .object img, #buyOnline .contact .object img, #buyOnline .onlineStockists .object img, #trade .contact .object img, #trade .onlineStockists .object img {
  float: left;
}
/* line 358, ../sass/celiastyle.sass */
#info .contact .object p, #info .onlineStockists .object p, #buyOnline .contact .object p, #buyOnline .onlineStockists .object p, #trade .contact .object p, #trade .onlineStockists .object p {
  float: right;
}
/* line 360, ../sass/celiastyle.sass */
#info .triggerNewsletter, #buyOnline .triggerNewsletter, #trade .triggerNewsletter {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* line 366, ../sass/celiastyle.sass */
#buyOnline h1 {
  font-size: 3em;
  padding-top: 1.3em;
  color: black;
  text-transform: uppercase;
}
/* line 371, ../sass/celiastyle.sass */
#buyOnline h2 {
  font-size: 1em;
  display: inline-block;
  width: 80%;
  line-height: 1.5em;
  text-transform: none;
}

/* line 380, ../sass/celiastyle.sass */
#trade .object p {
  float: none;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
/* line 385, ../sass/celiastyle.sass */
#trade form {
  padding-top: 2em;
  display: block;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
/* line 391, ../sass/celiastyle.sass */
#trade form input {
  width: 50%;
  height: 2em;
}
/* line 394, ../sass/celiastyle.sass */
#trade form textarea {
  width: 100%;
  height: 6em;
  resize: none;
}

/* line 401, ../sass/celiastyle.sass */
#newsletter, #specialOfferPopup {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 404, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup, #specialOfferPopup #mc_embed_signup {
  text-align: center;
  background-color: black;
  font-family: Raleway, Helvetica, sans-serif;
  color: white;
  width: 300px;
  padding: 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -160px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 416, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup form, #specialOfferPopup #mc_embed_signup form {
  text-align: center;
}
/* line 418, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup img, #specialOfferPopup #mc_embed_signup img {
  display: inline-block;
  width: 30%;
}
/* line 421, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup h2, #specialOfferPopup #mc_embed_signup h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4em;
  margin: 1em 0;
}
/* line 426, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup .mc-field-group, #specialOfferPopup #mc_embed_signup .mc-field-group {
  padding-bottom: 0;
}
/* line 429, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup .button, #specialOfferPopup #mc_embed_signup .button {
  width: 210px;
}
/* line 432, ../sass/celiastyle.sass */
#newsletter #mc_embed_signup #noThanks, #specialOfferPopup #mc_embed_signup #noThanks {
  position: relative;
  left: 2px;
}
